[tiltbridge_junior]
# Should the script print out everything it does to the logs?
verbose=False
# What is the Bluetooth interface number? Typically, 0. If you have multiple Bluetooth adapters, you may need to change this.
bluetooth_device=0


[target.fermentrack_legacy]
# Set "True" to enable sending to legacy Fermentrack
enable_fermentrack_legacy=False
# Full URL for the legacy fermentrack data target
target_url=http://127.0.0.1:80/tiltbridge


